altair==5.3.0
altgraph @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
-e git+ssh://git@github.com/siksum/SafeDevAnalyzer.git@2a4a4e50c8e609115af3b4804bffa280c96842ae#egg=antibug_safe_dev_analyzer
anyio==4.3.0
attrs==23.2.0
autograd==1.6.2
autograd-gamma==0.5.0
blinker==1.8.2
blspy==2.0.3
bounded-pool-executor==0.0.3
cachetools==5.3.3
cbor2==5.6.4
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
et-xmlfile==1.1.0
exceptiongroup==1.2.1
Flask==3.0.3
fonttools==4.51.0
future @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gitdb==4.0.11
GitPython==3.1.43
graphviz==0.20.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
macholib @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
mplcursors==0.5.2
Naked==0.1.32
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pluggy==1.5.0
pqdm==0.2.0
prettytable==3.11.0
protobuf==4.25.3
pyarrow==16.1.0
pyasn1==0.6.0
pycparser==2.22
pycryptodome==3.20.0
pydeck==0.9.1
Pygments==2.18.0
PyNaCl==1.5.0
pyparsing==3.1.2
pytest==8.2.1
python-dateutil==2.9.0.post0
python-telegram-bot==21.1.1
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
reliability==0.8.16
requests==2.32.2
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
scipy==1.13.0
shellescape==3.8.1
six @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
smmap==5.0.1
sniffio==1.3.1
streamlit==1.35.0
tenacity==8.3.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
watchdog==4.0.1
wcwidth==0.2.13
Werkzeug==3.0.3
zipp==3.18.1
